.hero-section {
  /* style */
  font-size: 17px;
  padding: 150px 60px;
  background-color: var(--gray);
  /* position */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.hero-section h1 {
  font-family: "Noto Sans Tai Le", sans-serif;
  color: #252525;
  letter-spacing: 3px;
}
.personal-photo-container {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.personal-photo-container img {
  border-radius: 50%;
  height: 320px;
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 50px #ccc;
}
/* !!shining effect */
.personal-photo-container:before {
  content: "";
  position: absolute;
  height: 380px;
  top: -30px;
  width: 60px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  transition: 0.7s;
  transform: rotateZ(-20deg) translate(-50px);
  animation-name: shining-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: calc(5s);
}

@keyframes shining-animation {
  0% {
    transform: rotateZ(-20deg) translate(-50px);
  }
  10%{
    transform: rotateZ(-20deg) translate(300px, 70px);

  }
  100% {
    transform: rotateZ(-20deg) translate(300px, 70px);
  }
}
@media (width < 1000px) {
  .hero-section {
    font-size: 13px;
    display: flex;
    padding: 120px 15px;
    flex-direction: column-reverse;
  }
  .hero-section h1 {
    text-align: center;
    padding-top: 30px;
    letter-spacing: 2px;
  }
  .personal-photo-container img {
    height: 230px;
  }
}
 

@media (width < 700px){
  .hero-section h1 {
    font-family: 'IBM Plex Sans JP', sans-serif;
  }
}