nav .nav-links {
  /* style */
  list-style: none;
  font-size: 14px;
  min-width: 20%;
  /* position */
  display: flex;
  justify-content: space-between;
}

nav .nav-links .link {
  /* style */
  text-transform: uppercase;
  min-width: fit-content;
  width: 75px;
  padding: 5px;
  text-align: center;
  color: #252525;
  cursor: pointer;
  /* position */
  margin: 0 auto;
}
nav .nav-links .menu-icon {
  font-size: 25px;
  cursor: pointer;
}
.animated-menu {
  position: absolute;
  top:60px;
  right: 0;
  width: 100%;
  z-index: 2;
  padding: 10px;
  background-color: var(--white);
}

@media (width < 700px) {
  nav .nav-links .link {
    /* style */
    padding: 10px 0;
    width: 100%;
  }
  nav .nav-links{
    /* style */
    min-width: fit-content;
  }
}
