.card {
  /* style */
  border-radius: 20px;
  width: 230px;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 25px;
  /* background */
  background-position: center;
  background-size: 65% 50%;
  background-repeat: no-repeat;
  background-color: var(--white);
}

.icons-container {
  /* style */
  width: 50%;
  /* position */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.visit-icon {
  background-color: var(--green);
  color: var(--white);
  padding: 3px 15px;
  border-radius: 10px;
  transition: all 0.2s;
}

.github-icon {
  font-size: 30px;
  padding-top: 2px;
  transition: all 0.2;
}
.visit-icon:hover,
.github-icon:hover {
  opacity: 0.8;
}

.project-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 65%;
  align-self: baseline;
  letter-spacing: 1px;
  font-size: 15px;
  color: #252525;
}

@media (width < 800px) {
  .card{
    margin-right: 0px;
  }
}
