.card {
  /* style */
  border-radius: 20px;
  width: 30%;
  height: 250px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 25px;
  margin-top: 15px;
  transition: all 0.4s;
  /* background */
  background-position: center;
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-color: var(--white);
}
.card:hover {
  background-size: 35% 35%;
  filter: brightness(80%);
}
.icons-container {
  /* style */
  width: 30%;
  /* background-color: var(--green); */
  border-radius: 5px;
  padding: 10px 5px;
  /* position */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  transform: translateY(-100px);
  transition: all 0.5s;
}

.github-icon , .visit-icon{
  font-size: 25px;
}
.visit-icon:hover,
.github-icon:hover {
  /* color: var(--white); */
}
.card:hover > .icons-container {
  transform: translateY(-5px);
}

.project-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70%;
  align-self: baseline;
  letter-spacing: 1px;
  font-size: 15px;
  color: #252525;
}

@media (width < 700px) {
  .card {

    margin-right: 0px;
    margin-bottom: 20px;
    width: 90%;
  }

  .github-icon , .visit-icon{
    font-size: 25px;
  }
}

@media (900px > width > 700px) {
  .card {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 50%;
  }
}
