form {
  width: 45%;
  margin: 0 auto;
}
.input-holder {
  /* style */
  width: 100%;
  /* position */
  position: relative;
  margin: 20px 0;
}
.input-holder textarea {
  height: 90px;
}
.input-holder input,
textarea {
  /* style */
  resize: none;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--green);
  background-color: transparent;
}
.input-holder .label,
textarea .label {
  /* style */
  font-size: 15px;
  transition: all 0.3s;
  color: var(--green);
  border-radius: 5px;
  /* position */
  position: absolute;
  z-index: -1;
  left: 15px;
  top: 15px;
}

/* to make sure the effect is on when the user types smt and no focus */
input:focus + .label,
input:not(:placeholder-shown) + .label,
textarea:focus + .label,
textarea:not(:placeholder-shown) + .label {
  z-index: 1;
  position: absolute;
  background-color: white;
  left: 10px;
  top: -12px;
  padding: 0px 5px;
}
.error-message { 
  color: red;
  font-size: 12px;
  margin-top: -15px;
}
@media (max-device-width : 800px) {
  form {
    width: 100%;
  }
}
