nav {
  /* style */
  background-color: var(--white);
  padding: 0px 30px;
  /* position */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
nav .logo {
  width: 40px;
}

nav .nav-links {
  /* style */
  list-style: none;
  font-size: 14px;
  /* position */
  display: flex;
  justify-content: space-between;
}

nav .nav-links .link {
  /* style */
  text-transform: uppercase;
  min-width: fit-content;
  width: 75px;
  padding: 5px;
  text-align: center;
  color: #252525;
  cursor: pointer;
  /* position */
  margin-left: 15px;
}

@media (width < 700px) {
  nav{
   flex-direction: column;
  }
  nav .logo {
    width: 30px;
    top: 15px;
  }
  .nav-links{
    width: 100%;
    position: absolute;
    top: 15px;
  }
  nav .nav-links .link {
    width: 60px;
  }
}