.about {
  padding-top: 100px;
  padding-bottom: 150px;
}
.about .info {
  word-spacing: 1px;
  width: 95%;
}
.about .info p {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}
/* overriding the position of the animating btn */
.about .info .animating-btn-container { 
  margin: 15px 0;
}