.animating-btn-container {
  /* style */
  width: fit-content;
  /* position */
  margin: 15px auto 0px;
  overflow: hidden;
  position: relative;
}

.animating-btn {
  /* style */
  width: 150px;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--green);
  border: 1px solid var(--green);
  text-transform: capitalize;
  /* position */
  display: block;
}

.checked {
  /* style */
  width: 20%;
  background-color: var(--white);
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 50%;
  /* position */
  text-align: center;
  margin: 5px auto 0;
  position: absolute;
  left: 40%;
}
