:root {
  --green: #699673;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.parent-container {
  width: 90%;
  margin: 0 auto;
}

.green {
  all: unset;
  color: var(--green);
  letter-spacing: 5px;
}

body{
  height:250vh;
  background-color: #ecf0f1;
}